attrs~=19.1.0
Automat==20.2.0
cffi~=1.12.2
constantly==15.1.0
cryptography~=2.6.1
cssselect==1.1.0
hyperlink==20.0.1
idna~=2.8
incremental==17.5.0
itemadapter==0.1.1
itemloaders==1.0.3
jmespath==0.10.0
lxml~=4.3.2
parsel==1.6.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser~=2.19
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
queuelib==1.5.0
Scrapy==2.4.0
service-identity==18.1.0
six~=1.12.0
Twisted==20.3.0
w3lib==1.22.0
zope.interface==5.1.2

pip~=20.1.1
zlib~=1.2.11
wheel~=0.33.1
openssl~=1.1.1b
py~=1.8.0
beautifulsoup4~=4.7.1
html5lib~=1.0.1
pillow~=5.4.1
future~=0.17.1
setuptools~=40.8.0
cython~=0.29.6
pytest~=4.3.1
ply~=3.11
click~=7.0
pandas~=0.24.2
requests~=2.21.0
numpy~=1.16.2